{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <form action="/register" method="post">
        <div class="register-form">
            <input autocomplete="off" autofocus class="register-control" name="username" placeholder="Username" type="text">
        </div>
        <div class="register-form">
            <input class="register-control" name="password" placeholder="Password" type="password">
        </div>
        <div class="register-form">
            <input class="register-control" name="confirm_password" placeholder="Confirm Password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Register</button>
    </form>
{% endblock %}

